node_modules/
dist/
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/.vitepress/.temp/
docs/.generated/
.vite/
coverage/
*.local

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
